/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variavle */
:root{
    --navbar-height:60px;
}
/* selector */

/* Class selector */
/* heading section styles */
#MyDet{
    display: flex;
    align-items: top;
    /* align-content: top; */
    position: relative;
    /* border:darkred 3px dashed ; */
}
#MyDet::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:darkblue;
    z-index: -1;
    opacity: 10;
}
/* Logo and img Section Styling */
#logo{
    margin:5px 5px;
    /* border: firebrick 2px dashed; */

}

#logo img{
    height:75px;
    margin:5px 5px;
    border-radius: 20px;

}

/* Snapshot of profile */
#ProfileSnap{
    margin:5px 5px;
    color: white;
    /* border: brown 2px dashed; */
}
#ProfileSnap h1{
    font-size: 2rem;
    /* border: rgb(53, 14, 114) 2px dashed; */
}
#ProfileSnap ul{
    margin-left: 20px;
    /* border: rgb(53, 14, 114) 2px dashed; */
}

/* Contact Details */

#ContactDet{
    margin:5px 5px;
    display: flex;
    flex-direction: column;
}
#ContactDet h2{
    display: flex;
    color: white;
    margin: 5px;
    align-items: top;
    
}
#ContactDet img{
    height: 30px;
}
#ContactDet a{
    margin: 10px 10px;
}
/* id selector */


/* Creating tabs */
.GitHub-Projects > input,
.GitHub-Projects section > div{
    display: none;
}

#Gist:checked ~ section .Gist,
#Repos:checked ~ section .Repos{
    display: block;
}

/* *, *:after, *:before{
    box-sizing: border-box;
} */

.GitHub-Projects{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 730px;
    
}

/* styling tabs */
#Github-tab ul{
    display: flex;
    list-style-type: none;
    margin: 15px 0px;
}
#Github-tab ul li{
    margin:0;
}
#Github-tab ul li label{
    padding: 15px 25px;
    border: 1px solid cyan;
    border-bottom: 0;
    background-color:cornsilk;
}
#Github-tab ul li label:hover{
    background-color: cyan;
}
.GitHub-Projects section > div{
    width: 90%;
    padding: 20px;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
    overflow: scroll;
    height: 300px;

}
.GitHub-Projects section > div h1{
    text-align: left;
    letter-spacing: 1px;
    margin :0;
    display: flexbox;
    color: darkorange;
}
.GitHub-Projects section > div ol{
    margin: 0px 30px;
}
.GitHub-Projects section > div div{
    display: block;
    background-color: floralwhite;
}
#Gist:checked ~ nav .Gist label,
#Repos:checked ~ nav .Repos label{
    background-color: whitesmoke;
    position: relative;
    border-bottom: 0px;

}

.GitHub-Projects section a{
    color: navy;
    text-decoration: none;
    display: block;
    background-color: blanchedalmond;
    
}

.GitHub-Projects section p{
    color:rgb(4, 68, 32);
}